In [1]:
import pandas as pd

df = pd.read_csv("college.csv")
df = pd.DataFrame(df)
df = df.drop(columns =['private'])

df.head(3)

,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate
0,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54

In [2]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(df)
pd.DataFrame(data_scaled).head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.032887,0.044177,0.107913,0.231579,0.472527,0.087164,0.024548,0.263430,0.239596,0.157754,0.297710,0.652632,0.710526,0.418231,0.18750,0.072671,0.462963
1,0.043842,0.070531,0.075035,0.157895,0.219780,0.080752,0.056148,0.513430,0.736129,0.291444,0.190840,0.221053,0.078947,0.260054,0.25000,0.138387,0.425926
2,0.028055,0.039036,0.047349,0.221053,0.450549,0.028473,0.004488,0.460227,0.310530,0.135472,0.139695,0.473684,0.552632,0.278820,0.46875,0.104605,0.407407

In [3]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [4]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, cross_val_score
# set k=1 
knn = KNeighborsClassifier(n_neighbors=1)

In [5]:
scores = cross_val_score(knn, X, y)
scores

/Users/amandeepkaur/opt/anaconda3/envs/jasdata_science/lib/python3.8/site-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

array([0.05128205, 0.01923077, 0.03225806, 0.04516129, 0.02580645])

In [6]:
scores = cross_val_score(knn, X, y, cv=8)
scores

/Users/amandeepkaur/opt/anaconda3/envs/jasdata_science/lib/python3.8/site-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=8.
  warnings.warn(

array([0.05102041, 0.03092784, 0.02061856, 0.03092784, 0.05154639,
       0.01030928, 0.04123711, 0.03092784])

In [7]:
print("Mean score on 8 folds: ", scores.mean())
print("Standard deviation: ", scores.std())

Mean score on 8 folds:  0.03343940669051125
Standard deviation:  0.013304415425680194

In [8]:
from sklearn.model_selection import cross_validate

In [9]:
scores = cross_validate(knn, X, y, cv=8, return_train_score=True)
scores

/Users/amandeepkaur/opt/anaconda3/envs/jasdata_science/lib/python3.8/site-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=8.
  warnings.warn(

{'fit_time': array([0.00327301, 0.001194  , 0.00114512, 0.00118613, 0.00112987,
        0.00110292, 0.00110006, 0.00110912]),
 'score_time': array([0.00299907, 0.00267625, 0.00269175, 0.00284863, 0.00266218,
        0.00271702, 0.00261283, 0.00269318]),
 'test_score': array([0.05102041, 0.03092784, 0.02061856, 0.03092784, 0.05154639,
        0.01030928, 0.04123711, 0.03092784]),
 'train_score': array([1., 1., 1., 1., 1., 1., 1., 1.])}

In [10]:
train_scores = scores["train_score"]
test_scores = scores["test_score"]

In [11]:
train_scores.mean()

1.0

In [12]:
test_scores.mean()

0.03343940669051125

In [13]:
test_scores.std()

0.013304415425680194